// Copyright (C) 2026 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = '{{pipeline_name}}'
    author          = 'Sahra Musse, PAM Informatics'
    homePage        = '{{pipeline_url}}'
    description     = '{{pipeline_description}}'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '{{pipeline_version}}'
    recurseSubmodules = true
}

params {
    // Logging options
    monochrome_logs = false

    // Output options
    outdir = "./results"
}

process {
    maxRetries = params.max_retries
}

includeConfig "./assorted-sub-workflows/themisto2/themisto2.config"

// To test the pipeline, you can use the test profile which is defined below. You can run the pipeline with the test profile using the following command:
// nextflow run main.nf -profile test
profiles {
    test {
        params {
            metadata     = "/data/pam/team230/sm71/scratch/gps_project/01_metadata/v_tarriae/v_tarriae_lineage_metadata.csv"
            assembly_input  = "/data/pam/team230/sm71/scratch/gps_project/00_input_genomes/v_tarriae/assemblies"
            assembly_suffix = ".fasta.gz"
            group_label  = "Lineage"
            sample_col      = "name"
            color_index_kmer_size = 31
        }
    }

// sanger_local profile: increase CPU/memory defaults to handle cpu_32/mem_64 processes.
// Match these values when submitting the outer bsub job (e.g. `bsub.py --threads 32 64 ...`).
    sanger_local {
        params {
            max_cpus   = 32
            max_memory = 64.GB
        }
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}