// Copyright (C) 2026 Genome Research Ltd.

// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = '{{pipeline_name}}'
    author          = 'Sahra Musse, PAM Informatics'
    homePage        = '{{pipeline_url}}'
    description     = '{{pipeline_description}}'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '{{pipeline_version}}'
    recurseSubmodules = true
}

includeConfig "./assorted-sub-workflows/themisto2/themisto2.config"

params {
    // Logging options
    monochrome_logs = false
    // Output options
    outdir = "./results"
    manifest = null
    temp_space = 10000

    marker_post_processing = false
    marker_min_length = 100
    marker_gc_min = 35.0
    marker_gc_max = 60.0
    marker_window_size = params.color_index_kmer_size
    marker_write_rejected = true
    marker_plot = true
    primer3_design = false
    // Amplicon (PCR product) length. Must fit inside the marker: keep the upper
    // bound <= marker_min_length above. Widen for conventional gel-based PCR.
    primer3_product_size_range = "70-100"
    primer3_num_return = 3
    // Length of a single primer oligo in nt (not the marker, not the amplicon).
    primer3_opt_size = 20
    primer3_min_size = 18
    primer3_max_size = 27
    primer3_opt_tm = 60.0
    primer3_min_tm = 57.0
    primer3_max_tm = 63.0
    // Per-primer GC%, matched to the marker GC window (marker_gc_min/max above).
    primer3_min_gc = 35.0
    primer3_max_gc = 60.0
}



profiles {

    sanger_local {
        params {
            max_cpus   = 32
            max_memory = 64.GB
        }
    }
}



process {
    maxRetries = params.max_retries
    withLabel: request_temp {
        clusterOptions = "-R 'rusage[tmp=${params.temp_space}]'"
    }
}


// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}